<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{ $title := "" -}}
    {{ if ne .Title .Site.Title -}}
        {{ $title = printf "%s | %s" $.Title $.Site.Title -}}
    {{ else -}}
        {{ $title = .Site.Title -}}
    {{ end -}}
    {{ $description := cond (ne $.Description "") $.Description $.Site.Params.description -}}
    <title>{{ $title }}</title>
    <meta name="description" value="{{ $description }}">
    <meta property="og:title" value="{{ $title }}">
    <meta property="og:type" content="website" />
    <meta property="og:description" value="{{ $description }}">
    <meta property="og:url" value="{{ .Site.BaseURL }}">
    {{ $style := resources.Get "css/main.css" | fingerprint -}}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
    <link rel="canonical" href="{{ .RelPermalink }}">
</head>

<body>
    {{ partial "header.html" . }}
    <div id="floris-content">
    {{- block "main" . }}{{- end }}
    </div>
    {{ partial "footer.html" . }}
</body>

</html>
