<header id="floris-header">
    <a href="{{ .Site.BaseURL }}" class="floris-branding-banner">
        <img src="/images/app-icon.png" alt="FlorisBoard app icon">
        <span>FlorisBoard</span>
    </a>
    <div>
        <nav id="lang-select">
            <input type="checkbox" id="lang">
            <label for="lang" id="lang-label"><span>{{ $.Site.Language  }} ▼</span></label>

            <div class="langs">
                {{ range $.Site.Languages }}{{ if (ne $.Lang .Lang)}}<p><a href="/{{ .Lang }}">{{ .Lang }}</a></p>{{ end }}{{ end }}
            </div>
        </nav>
        <a href="https://github.com/florisboard/florisboard" target="_blank">
            <span>{{ .Param "gh-repo" }}</span>
        </a>
    </div>
</header>
