{{ define "main" }}
<main id="floris-main">
    <p class="main-description">Un teclado libre para Android que respeta tu privacidad. Actualmente en beta temprana.</p>
    <img src="/images/florisboard-screenshot.es.jpeg" class="main-image" alt="FlorisBoard screenshot">
    <p class="main-moreinfo">¡Para más información y opciones de descarga echa un vistazo al repositorio de GitHub!</p>
    <a href="https://github.com/florisboard/florisboard" target="_blank">{{ .Param "gh-repo" }}</a>
</main>
{{ end }}
