@charset 'utf-8';

:root {
    --background: #1F1F1F;
    --on-background: #FFFFFF;
    --surface: #3d3e42;
    --on-surface: #FFFFFF;
    --primary: #4CAF50;
    --primary-variant: #388E3C;
}

body {
    background-color: var(--background);
    color: var(--on-background);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
}

a {
    color: var(--primary);
}
a:hover, a:focus {
    color: var(--primary-variant);
}

#floris-header {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    width: 100%;
}
.floris-branding-banner {
    align-items: center;
    border-radius: 12px;
    color: var(--on-background);
    display: flex;
    font-size: 1.6rem;
    padding: 8px;
    text-decoration: none;
    transition: background-color 100ms ease-in-out;
}
.floris-branding-banner:hover {
    background-color: var(--surface);
    color: var(--on-surface);
}
.floris-branding-banner > img {
    height: 48px;
}
.floris-branding-banner > span {
    margin: 0 12px;
}

#floris-content {
    box-sizing: border-box;
    padding: 0 24px;
    width: 100%;
}
#floris-content .last-modified {
    font-style: italic;
}

#floris-main {
    align-items: center;
    display: flex;
    flex-direction: column;
}
#floris-main .main-description {
    font-size: 1.2rem;
    font-style: italic;
}
#floris-main .main-image {
    border-radius: 12px;
    box-shadow: 0 0 24px white;
    margin: 16px 0;
    width: 100%;
    max-width: 400px;
}
#floris-main a {
    background-color: var(--surface);
    border-radius: 12px;
    color: var(--on-surface);
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    transition: 100ms ease-in-out;
}
#floris-main a:hover {
    background-color: var(--primary);
}

#floris-footer {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-top: 32px;
    padding: 16px;
    width: 100%;
}

/* Language switcher */
#lang-select {
    position: relative;
    display: inline-block;
    margin-right: .5em;
}

.langs {
    display: none;
    position: absolute;
    background-color: var(--surface);
    padding: 12px 16px;
    margin-top: 12px;
    border-radius: 0px 0px 12px 12px;
    min-width: 2.4rem;
    /* opacity: 0%;
       transition: all 100ms ease-in-out; */
}

#lang:checked ~ .langs {
    display: block;
    /* opacity: 100%;
       transition: all 100ms ease-in-out; */
}

#lang {
    display: none;
}

#lang-label {
    padding: 12px 16px;
    border-radius: 12px;
    cursor: pointer;
    /* transition: all 100ms ease-in-out; */
    transition: background 100ms ease-in-out;
}

#lang-label:hover {
    background-color: var(--surface);
}

.langs p {
    margin: auto;
}

.langs a {
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 1rem;
}

#lang:checked ~ #lang-label {
    border-radius: 12px 12px 0px 0px;
    background-color: var(--surface);
}
